<div class="container">
  <div class="row">

    <div class="col-md-12 order-md-1">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName" readonly>Patient</label>
            <input type="text" class="form-control" id="firstName" value="{{patient.firstName}} {{patient.lastName}}" readonly>
          </div>
        </div>
        <div class="mb-3">
          <label>Description <span class="text-body" ></span></label>
          <textarea rows="7" type="text" class="form-control" readonly></textarea>
        </div>
        <div class="mb-3">
          <label>Doctor Notes <span class="text-body" ></span></label>
          <textarea rows="10" type="text" class="form-control"></textarea>
        </div>
        <hr class="mb-4">
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!--
----------------------------------------------------------------
First Name: _______   Last Name:________
Telephone:  _______   Date of Appointment:_______

Include some sort of patient history or component to display?
List of past appointments?



Description:
------------------------------------------------------------------
|                                                                |
|                                                                |
|                                                                |
|                                                                |
|                                                                |
-----------------------------------------------------------------
-->
