<div class="card bg-light flex-row flex-wrap">
  <div class="card-header border-2">
    <img class="img-custom" src="https://www.meme-arsenal.com/memes/225232f5c7a42a06daac60b59209a560.jpg">
  </div>
  <div class="card-body px-2 d-flex flex-column justify-content-between">
    <div>
    <h4 class="card-title">{{"Doctor " +  doctor.name}}</h4>
      <br>
    <p class="card-text">{{doctor.intro}}</p>
    </div>
    <p>{{"Specialties: " +  doctor.specialties.toLocaleString()}}</p>
  </div>
</div>

