<div class="container">
  <br><br>
  <table class="table table-striped table-bordered ">
    <tr>
      <th style="background-color: cadetblue" *ngFor="let header of headers">
        {{header}}
      </th>
    </tr>
    <tr appHover style="cursor: pointer" (click)="selectedAppointment(appointment.id)"
        routerLink="/details/patient"
      *ngFor="let appointment of appointments">
      <td>{{getPatientByAppointment(appointment).firstName}}</td>
      <td>{{getPatientByAppointment(appointment).lastName}}</td>
      <td>{{getPatientByAppointment(appointment).phoneNumber}}</td>
      <td>{{appointment.date.getMonth() + "/" +  appointment.date.getDay() + " at " + appointment.date.getHours()+":"+appointment.date.getMinutes()}}</td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>
